


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ title }} {% endblock %}</title>
</head>
<body>
	{% block pagecontent %}
	{% include 'layout/nav-bar.html' %}
	<div class="home-page">
	    <div id="sidetreecontrol"><a href="?#">Đóng tất cả</a> | <a href="?#">Mở tất cả</a></div>
		<ul id="tree">
			<li class="open"><a href="../home/"><strong>Trang chủ</strong></a>
				<ul>

					<h1>Home page!</h1>
					<h2>'Hello, welcome to the index page.'</h2>

					<li><a href="/{{ link }}/">{{ link }}</a></li>

				</ul>
			</li>
		</ul>
	</div>
    {% include 'layout/nav-bar.html' %} <!--Add this-->
  {% endblock %}
</body>
</html>